<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ntrial Feed</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <style>
      body {
        padding-top: 50px;
      }
      .starter-template {
        padding: 40px 15px;
        text-align: center;
      }
    </style>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Ntrial</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/admin/customer">Admin</a></li>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/chat">Chat</a></li>
            <li><a href="/auth/logout">Sign out</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <input type="hidden" id="user-type" value="<%= user.type %>">
      <input type="hidden" id="user-access-token" value="<%= user.access_token %>">
      <input type="hidden" id="user-access-secret" value="<%= user.access_secret %>">
      <input type="hidden" id="user-id" value="<%= user.id %>">
      <input type="hidden" id="user-screen_name" value="<%= user.screen_name %>">

      <div class="starter-template" >
        <h1>Ntrial Feed</h1>
        <div id="feed-container">
          <% for(var i in data) { %>
            <% var u = '' %>
            <% if(i < 1) { %>
              <% u = i %>
            <% } %>
            <div class="feed" id="feed-index_<%= u %>" >
              <div style="display:none" id="feed-id_<%= u %>"><%= data[i].id %></div>
              
              <p class="lead"><%= data[i].message %></p>
              <% if (data[i].picture) { %>
                 <img src="<%= data[i].picture %>">'
              <% } %>
              <div><%= data[i].created_at %></div>
              <div style="display:none" id="timestamp_<%= u %>" ><%= data[i].timestamp %></div>
            </div>
            <br />
          <% } %>
        </div>
        
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous">
    </script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>

    <script>

      function createHtmlFeed(data){
        var newHtml = ''

        for(var i in data){

          var img = '';
          if (data[i].picture) {
            img = '<img src="'+data[i].picture+'">'
          }

          var text = '\
            <div class="feed" id="feed-index_0" >\
              <div style="display:none" id="feed-id_0">'+data[i].id+'</div>\
              <p class="lead">'+ data[i].message +'</p>\
              '+img+'\
              <div>'+data[i].created_at +'</div>\
              <div style="display:none"  id="timestamp_0" >'+ data[i].timestamp +'</div>\
            </div>'

          newHtml += text
        }

        return newHtml
      }

      $(function() {

        var socket = io();

        setInterval(function(){ 
          var payload = {
            type: $('#user-type').val(),
            access_token: $('#user-access-token').val(),
            access_secret: $('#user-access-secret').val(),
            user_id: $('#user-id'),
            screen_name: $('#screen_name'),

            since_id: parseInt($('#feed-id_0').text()),
            since: parseInt($('#timestamp_0').text())
          }

          socket.emit('feed', payload);

          socket.on('feed', function(msg){
            console.log(msg)

            var condition;
            if (payload.type == 'twitter') {
              condition = msg && msg.length > 0 && parseInt(msg[0].id) != parseInt($('#feed-id_0').text())
            } else if (payload.type == 'facebook') {
              condition = msg && msg.length > 0
            }

            if(condition) {
              $('#feed-id_0').removeAttr('id')
              $('#feed-index_0').removeAttr('id')
              $('#timestamp_0').removeAttr('id')

              $('#feed-container').prepend(createHtmlFeed(msg))
            }
          })
        }, 10000);
          
      });
    </script>
  </body>
</html>
